.hero {
    height: 100dvh;
    min-height: 45rem;
    background-color: brown;

    .hero__content {
        display: flex;
        align-items: center;
        margin: auto 6rem;
        height: 100%;

        .hero__title {
            font-size: 4rem;
            font-weight: 700;
            color: white;
        }

        .hero__description {
            font-size: 1.5rem;
            font-weight: 400;
            color: white;
            margin-top: 2rem;
        }

        .hero__btns {
            display: flex;
            gap: 0.5rem;

            .hero__button {
                margin-top: 2rem;
                padding: 1rem 2rem;
                background-color: white;
                color: brown;
                font-size: 1.5rem;
                font-weight: 600;
                border-radius: 0.5rem;
                cursor: pointer;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
    
                &:hover {
                    background-color: #f8f9fa;
                    transform: scale(1.05);
                }
            }
        }

    }
}